<%= render "navbar", list: @list %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="movie-button">
<button type="button" class="btn btn-flat m-3"><%= link_to "Add a movie", new_list_bookmark_path(@list), class: "link" %></button>
</div>

<div class="cards">
  <% @bookmarks.each do |bookmark| %>
    <div class="card-movie">
      <img src="<%= bookmark.movie.poster_url %>" />
      <div class="card-movie-infos">
        <h2><%= bookmark.movie.title %></h2>
        <p><%= bookmark.movie.overview %></p>
        <%= link_to "Supprimer", list_bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "link" %>
      </div>
    </div>
  <% end %>
</div>
